<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 백그라운드 위치 (Android 10 이상) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 서비스 실행 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- mediaPlayback 타입일 때 추가로 필요 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yoittang"
        tools:targetApi="31" >

        <service
            android:name=".service.RunningService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location|mediaPlayback|dataSync"
            tools:ignore="ForegroundServicePermission">
        </service>

        <service
            android:name=".service.TimerService"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Yoittang.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent                                                                                                                                                        .action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RunningActivity"
            android:theme="@style/Theme.Yoittang.NoActionBar" />

        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="nfju0cpk4l" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>